.leaflet-container {
  height: 80vh;
  width: 100%;
}
.Apartment-icon {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}
.Apartment-icon:after {
  display: block;
  width: 30px;
  height: 30px;
  content: "🏠";
  font-size: 20px;
}
